    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1 id="homeHeading">
                    Learn Kannada !                    
                </h1>
                <h2>Spend a very little time everyday and learn Kannada !</h2>
                <hr>
                <!-- <p>Start Bootstrap can help you build better websites using the Bootstrap CSS framework! Just download your template and start going, no strings attached!</p> -->
                <a routerLink="/kannadacourse" class="btn btn-success btn-xl page-scroll">Start Learning</a>
            </div>
        </div>
    </header>

    <section class="bg-danger" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">One of the major Dravidian languages!</h2>
                    <hr class="light">
                    <p class="text-muted">
                    The official language of the south Indian state of Karnataka. We'll add more description here !!! 
                    </p>
                    <a routerLink="/kannadacourse" class="page-scroll btn btn-success btn-xl sr-button">Start Learning!</a>
                </div>
            </div>
        </div>
    </section>

    <section id="features">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Short lessons of just a couple of mins !</h2>
                    <p>
                    Its just like playing Tic-Tac-Toe, system gives you the question-you give the response, and you're done before you even know!
                    </p>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-book text-primary sr-icons"></i>
                        <h3>Read</h3>
                        <p class="text-muted">Read the content to learn the words, translate and respond to perfectify!</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-headphones text-primary sr-icons"></i>
                        <h3>Listen</h3>
                        <p class="text-muted">Listen to learn the pronouciation, every language has its own essence-embrace it!</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-pencil text-primary sr-icons"></i>
                        <h3>Write</h3>
                        <p class="text-muted">Write the new things that you've learnt to verify the correctness!</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-comments-o text-primary sr-icons"></i>
                        <h3>Speak(coming soon!)</h3>
                        <p class="text-muted">Speak to make sure you're pronouncing it right!</p>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <aside class="bg-dark">
        <div class="container text-center">
            <div class="call-to-action">
                <h2>Learn Kannada with Bhasha!</h2>
                <a routerLink="/kannadacourse" class="btn btn-default btn-xl sr-button">Start Learning!</a>
            </div>
        </div>
    </aside>

    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Footer!</h2>
                    <hr class="primary">
                    <p>Let's see what can be added here!</p>
                </div>
                <div class="col-lg-4 col-lg-offset-2 text-center">
                    <i class="fa fa-phone fa-3x sr-contact"></i>
                    <p>123-456-6789</p>
                </div>
                <div class="col-lg-4 text-center">
                    <i class="fa fa-envelope-o fa-3x sr-contact"></i>
                    <p><a href="mailto:your-email@your-domain.com">feedback@startbootstrap.com</a></p>
                </div>
            </div>
        </div>
    </section>