<body class="bg-custom">

<div class="bg-custom">

    <div class="container-fluid">
        <div class="row">

            <div class="col-md-2">
            </div>
            <div class="col-md-8">


                <div class="sectionborder headermargin">
                <h1>
                    <small>Languages available</small>
                </h1>    
                
                <div class="row">
                <div class="col-md-4">
                    <div class="thumbnail">
                        <img alt="Bootstrap Thumbnail First" src="../assets/img/header.jpg" />
                        <div class="caption">
                            <h3>
                                
                            </h3>
                            <div class="panel-footer footer-custom">
                                <p>
                                <a routerLink="/kannadahome" class="btn btn-block" >Kannada</a>
                                </p>
                            </div>
                            
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="thumbnail">
                        <img alt="Bootstrap Thumbnail Second" src="../assets/img/header.jpg" />
                        <div class="caption">
                            <h3>
                                
                            </h3>
                            <div class="panel-footer footer-custom">
                            <p>
                                <a class="btn btn-block">Hindi</a>
                            </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="thumbnail">
                        <img alt="Bootstrap Thumbnail Third" src="../assets/img/header.jpg" />
                        <div class="caption">
                            <h3>
                                
                            </h3>
                            <div class="panel-footer footer-custom">
                            <p>
                                <a class="btn btn-block">Tamil</a> 
                            </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>

            </div>
            <div class="col-md-2">
            </div>
        </div>
    </div>

</div>

</body>
