<body class="bg-custom">
    <div class="bg-custom">

    <div class="container-fluid">
    <div class="row">
        
        <div class="col-md-1">            
        </div>

        <div class="col-md-3">
            <div class="sectionborder headermargin">
            <h1>
                <small>Kannada progress</small>
            </h1>          
            <div class="text-center">
            <i class="fa fa-4x fa-line-chart text-success sr-icons"></i>
            </div>   
            </div>
            <div class="sectionborder" style="margin-top: 30px">
            <h1>
                <small>Something which needs to be here</small>
            </h1>          
            </div>
        </div>

        <div class="col-md-7">
            <div class="sectionborder headermargin">
            <h1>
                <small>&nbsp &nbsp &nbsp Have fun speaking Kannada</small>
            </h1>

            <div class="text-center">
                <a href="kannada_lesson.html">
                <img src="img/logo1.jpg" class="rounded" alt="">    
                <div class="caption">Lesson 1(images of size 140x140 might be the best fit)</div>
                </a>
            </div>

            <p>List of all the lessons will be here</p>


            </div>
        </div>

        <div class="col-md-1">            
        </div>

    </div>
    </div>
    </div>

</body>